---
const baseUrl = import.meta.env.BASE_URL;
---

<div class="font-mono bg-slate-100 flex h-10">
    <a class="h-full flex items-center justify-center px-4 hover:bg-emerald-200" href={baseUrl}><h1>Geotaqueo</h1></a>
    <div class="flex-1"></div>
    <a class="hover:bg-emerald-200 h-full  flex items-center justify-center px-4" href={baseUrl + "about"}>?</a>

</div>
